<html>
  <body>
    <table id="main-table">
      <tr>
        <h2>Model 1 - Monte Carlo</h2>
        <table>
          <tr>
            <th>Game</th>
            <th>Homescore</th>
            <th>Awayscore</th>
          </tr>
          <tr>
            <td>{{model1[0][1]}} vs {{model1[0][2]}}</td>
            <td>{{model1[0][3]}}</td>
            <td>{{model1[0][4]}}</td>
          </tr>

            <td>{{model1[1][1]}} vs {{model1[1][2]}}</td>
            <td>{{model1[1][3]}}</td>
            <td>{{model1[1][4]}}</td>
          </tr>
          <tr>
            <td>{{model1[2][1]}} vs {{model1[2][2]}}</td>
            <td>{{model1[2][3]}}</td>
            <td>{{model1[2][4]}}</td>
          </tr>

            <td>{{model1[3][1]}} vs {{model1[3][2]}}</td>
            <td>{{model1[3][3]}}</td>
            <td>{{model1[3][4]}}</td>
          </tr>
          </tr>
            <td>{{model1[4][1]}} vs {{model1[4][2]}}</td>
            <td>{{model1[4][3]}}</td>
            <td>{{model1[4][4]}}</td>
          </tr>
        </table>
        <h2>Model 2 - ML</h2>
              <table>
          <tr>
            <th>Game</th>
            <th>Homescore</th>
            <th>Awayscore</th>
          </tr>
          <tr>
            <td>{{model2[0][1]}} vs {{model2[0][2]}}</td>
            <td>{{model2[0][3]}}</td>
            <td>{{model2[0][4]}}</td>
          </tr>

            <td>{{model2[1][1]}} vs {{model2[1][2]}}</td>
            <td>{{model2[1][3]}}</td>
            <td>{{model2[1][4]}}</td>
          </tr>
          <tr>
            <td>{{model2[2][1]}} vs {{model2[2][2]}}</td>
            <td>{{model2[2][3]}}</td>
            <td>{{model2[2][4]}}</td>
          </tr>

            <td>{{model2[3][1]}} vs {{model2[3][2]}}</td>
            <td>{{model2[3][3]}}</td>
            <td>{{model2[3][4]}}</td>
          </tr>
          </tr>
            <td>{{model2[4][1]}} vs {{model2[4][2]}}</td>
            <td>{{model2[4][3]}}</td>
            <td>{{model2[4][4]}}</td>
          </tr>
        </table>
        <h2>Model 3 - ML Defense Scaling</h2>
          <table>
            <tr>
              <th>Game</th>
              <th>Homescore</th>
              <th>Awayscore</th>
            </tr>
            <tr>
              <td>{{model3[0][1]}} vs {{model3[0][2]}}</td>
              <td>{{model3[0][3]}}</td>
              <td>{{model3[0][4]}}</td>
            </tr>

              <td>{{model3[1][1]}} vs {{model3[1][2]}}</td>
              <td>{{model3[1][3]}}</td>
              <td>{{model3[1][4]}}</td>
            </tr>
            <tr>
              <td>{{model3[2][1]}} vs {{model3[2][2]}}</td>
              <td>{{model3[2][3]}}</td>
              <td>{{model3[2][4]}}</td>
            </tr>

              <td>{{model3[3][1]}} vs {{model3[3][2]}}</td>
              <td>{{model2[3][3]}}</td>
              <td>{{model2[3][4]}}</td>
            </tr>
            </tr>
              <td>{{model3[4][1]}} vs {{model3[4][2]}}</td>
              <td>{{model3[4][3]}}</td>
              <td>{{model3[4][4]}}</td>
            </tr>
          </table>

        <h2>Model 4 - Home Factors</h2>
        <table>
          <tr>
            <th>Game</th>
            <th>Homescore</th>
            <th>Awayscore</th>
          </tr>
          <tr>
            <td>{{model4[0][1]}} vs {{model4[0][2]}}</td>
            <td>{{model4[0][3]}}</td>
            <td>{{model4[0][4]}}</td>
          </tr>

            <td>{{model4[1][1]}} vs {{model4[1][2]}}</td>
            <td>{{model4[1][3]}}</td>
            <td>{{model4[1][4]}}</td>
          </tr>
          <tr>
            <td>{{model4[2][1]}} vs {{model4[2][2]}}</td>
            <td>{{model4[2][3]}}</td>
            <td>{{model4[2][4]}}</td>
          </tr>

            <td>{{model4[3][1]}} vs {{model4[3][2]}}</td>
            <td>{{model4[3][3]}}</td>
            <td>{{model4[3][4]}}</td>
          </tr>
          </tr>
            <td>{{model4[4][1]}} vs {{model4[4][2]}}</td>
            <td>{{model4[4][3]}}</td>
            <td>{{model4[4][4]}}</td>
          </tr>
        </table>
        <h2>Model 5 - Win Streak Multiplier</h2>
        <table>
          <tr>
            <th>Game</th>
            <th>Homescore</th>
            <th>Awayscore</th>
          </tr>
          <tr>
            <td>{{model5[0][1]}} vs {{model5[0][2]}}</td>
            <td>{{model5[0][3]}}</td>
            <td>{{model5[0][4]}}</td>
          </tr>

            <td>{{model5[1][1]}} vs {{model5[1][2]}}</td>
            <td>{{model5[1][3]}}</td>
            <td>{{model5[1][4]}}</td>
          </tr>
          <tr>
            <td>{{model5[2][1]}} vs {{model5[2][2]}}</td>
            <td>{{model5[2][3]}}</td>
            <td>{{model5[2][4]}}</td>
          </tr>

            <td>{{model5[3][1]}} vs {{model5[3][2]}}</td>
            <td>{{model5[3][3]}}</td>
            <td>{{model5[3][4]}}</td>
          </tr>
          </tr>
            <td>{{model5[4][1]}} vs {{model5[4][2]}}</td>
            <td>{{model5[4][3]}}</td>
            <td>{{model5[4][4]}}</td>
          </tr>
        </table>
        <h2>Model 6 - Weighted win streak multiplier</h2>
        <table>
          <tr>
            <th>Game</th>
            <th>Homescore</th>
            <th>Awayscore</th>
          </tr>
          <tr>
            <td>{{model6[0][1]}} vs {{model6[0][2]}}</td>
            <td>{{model6[0][3]}}</td>
            <td>{{model6[0][4]}}</td>
          </tr>

            <td>{{model6[1][1]}} vs {{model6[1][2]}}</td>
            <td>{{model6[1][3]}}</td>
            <td>{{model6[1][4]}}</td>
          </tr>
          <tr>
            <td>{{model6[2][1]}} vs {{model6[2][2]}}</td>
            <td>{{model6[2][3]}}</td>
            <td>{{model6[2][4]}}</td>
          </tr>

            <td>{{model6[3][1]}} vs {{model6[3][2]}}</td>
            <td>{{model6[3][3]}}</td>
            <td>{{model6[3][4]}}</td>
          </tr>
          </tr>
            <td>{{model6[4][1]}} vs {{model6[4][2]}}</td>
            <td>{{model6[4][3]}}</td>
            <td>{{model6[4][4]}}</td>
          </tr>
        </table>



        <tr>
          <h2>Todays Spreads</h2>
          <table id="spreads_table">
            <tr>
              <th>Home</td>
              <th>Away</td>
              <th>Home spread</th>
              <th>Actual Spread</th>
            </tr>
          </table>
          <script>
            var spread = {{spread|tojson}}
            var table = document.getElementById('spreads_table');
            
            for (var i = 0; i < spread.length; i++) {
              var row = table.insertRow(-1);
              var hometeam = row.insertCell(0);
              var awayteam = row.insertCell(1);
              var homespread = row.insertCell(2);
              var actualSpread = row.insertCell(3);
              
              hometeam.innerHTML = spread[i][0]
              awayteam.innerHTML = spread[i][1]
              homespread.innerHTML = spread[i][2]
              actualSpread.innerHTML = spread[i][3]
            }
          </script>
        </tr>
        <tr>
          <h2>Model 1 - record</h2>
          <table>
            <tr>
              <td>Wins</td>
              <td>Total</td>
              <td>Percentage</td>
            </tr>
            <tr>
              <td>{{model_1[0][0]}}</td>
              <td>{{model_1[0][1]}}</td>
              <td>{{model_1[0][2]}}</td>
            </tr>
          </table>
        
          <h2>Model 2 - record</h2>
          <table>
            <tr>
              <td>Wins</td>
              <td>Total</td>
              <td>Percentage</td>
            </tr>
            <tr>
              <td>{{model_2[0][0]}}</td>
              <td>{{model_2[0][1]}}</td>
              <td>{{model_2[0][2]}}</td>
            </tr>
          </table>
        
          <h2>Model 3 - record</h2>
          <table>
            <tr>
              <td>Wins</td>
              <td>Total</td>
              <td>Percentage</td>
            </tr>
            <tr>
              <td>{{model_3[0][0]}}</td>
              <td>{{model_3[0][1]}}</td>
              <td>{{model_3[0][2]}}</td>
            </tr>
          </table>

          <h2>Model 4 - record</h2>
          <table>
            <tr>
              <td>Wins</td>
              <td>Total</td>
              <td>Percentage</td>
            </tr>
            <tr>
              <td>{{model_4[0][0]}}</td>
              <td>{{model_4[0][1]}}</td>
              <td>{{model_4[0][2]}}</td>
            </tr>
          </table>
        
          <h2>Model 5 - record</h2>
          <table>
            <tr>
              <td>Wins</td>
              <td>Total</td>
              <td>Percentage</td>
            </tr>
            <tr>
              <td>{{model_5[0][0]}}</td>
              <td>{{model_5[0][1]}}</td>
              <td>{{model_5[0][2]}}</td>
            </tr>
          </table>

          <h2>Model 6 - record</h2>
          <table>
            <tr>
              <td>Wins</td>
              <td>Total</td>
              <td>Percentage</td>
            </tr>
            <tr>
              <td>{{model_6[0][0]}}</td>
              <td>{{model_6[0][1]}}</td>
              <td>{{model_6[0][2]}}</td>
            </tr>
          </table>
        </tr>
      </tr>
    </table>
  </body>
</html>
