.hockey-analytics-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #0346aa; /* Pure blue */
}

.intro {
    margin-bottom: 30px;
    font-size: 1.2rem;
    line-height: 1.5;
}

.papers-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.paper-card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.paper-card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.paper-card h2 {
    font-size: 1.5rem;
    color: #0346aa;
    margin-bottom: 10px;
}

.paper-card p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    height: 80%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 5px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
    padding: 10px;
    margin: 0;
    border-radius: 50%;
    transition: background 0.3s;

}

.pdf-viewer {
    flex: 1;
    width: 99%;
    height: calc(100% - 40px); /* Adjust height for spacing */
    border: none;
}
